/* Write your CSS here! */
img {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px
}
video {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
p{
    color: maroon;   
}
.footer {
    color: burlywood;
    text-align: center;
}
#mainHeading{
    font-family: 'Times New Roman', Times, serif;
    color: red;
}
body{
    margin: 8px;
    display: block;
}
#testP{
    color: green;
}
.funParagraph{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
